@charset "UTF-8";
/* CSS Document */

#insertLink {
	background-color: #777;
	outline: none;
	border: none;
	border-radius: 2px;
	width: 700px;
	height: 50px;
	font-size: 26px;
	opacity: .75;
	color: #000;
}
#yourEmail {
	background-color: #777;
	outline: none;
	border: none;
	border-radius: 2px;
	width: 700px;
	height: 50px;
	font-size: 26px;
	opacity: .75;
	color: #000;
	margin-top: 3px;
}

#sendLink {
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 2px;
	height: 50px;
	font-size: 26px;
	opacity: .75;
	margin-top: 5px;
}

a {
	text-decoration: none;
}

#searchBox {
	border: none;
	outline: none;
	border-radius: 2px;
}

#searchButton {
	border: none;
	outline: none;
	border-radius: 2px;
	background-color: transparent;
	font-weight: bold;
}

.highlight {
	background-color: yellow;
}

.noHighlight {
	background-color: transparent;
}

#myProgress {
    width: 100%;
    background-color: #777;
}
#myBar {
    width: 1%;
    height: 10px;
    background-color: #000;
}
